body {
    padding: 0;
    margin: 0;

}

.home {
    display: flex;
    background-size: cover;
    width: 100%;
    background-image: url("img/61764.jpg");
    background-size: cover;
}

.home .home-sub {
    width: 50%;
}

.home img {
    width: 80%;
}

.home-sub #name {
    color: orange;


}

.home-sub h1 {
    font-size: 40px;
    color: white;
    margin-top: 200px;
}

.home-sub p {

    font-size: 25px;
    color: white;
}

.home-sub a {
    color: white;
    border-radius: 20px;
    font-style: 15px;
    text-decoration: none;
    background-color: orange;
    padding: 20px 30px;

}

/* home complit  */